.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 65px 0;
}
.button__burger {
  display: block;
  border: 0;
  width: 24px;
  height: 25px;
  margin-right: 5%;
  background-image: url(/src/images/icons/menu.png);
  background-color: transparent;
  background-repeat: no-repeat;

  @include desktop() {
    display: none;
  }

  @include tablets() {
    display: none;
  }
}