.header {
  margin: 65px 20px;
  width: 100vw;
}
  .button__burger {
    display: flex;
    border: 0;
    width: 24px;
    height: 20px;
    background-image: url(/src/images/icons/menu.png);
    background-color: transparent;
    background-repeat: no-repeat;
  }