.about
    .about__profile
        img.about__image(role="img" src="/src/images/content/mp.png" alt="Maria Pavlenko")
        .about__content
            .about__questions
                p.about__questions--text Home location:
                p.about__questions--text Age:
                p.about__questions--text Birthday:
            .about__answers
                p.about__answers--text Moscow
                p.about__answers--text 26
                p.about__answers--text July 18th
    .about__info
        p.about__info--text Hi, my Name Is
        h2.about__info--title Maria Pavlenko
        p.about__info--text.about__info--personal I develop modern websites and applications. I like to do interesting and modern projects.
        p.about__info--work I made this site as part of my studies at frontend development. I will refresh my content in it a little later. In the meantime, see how everything is cool and beautiful!