.contact
    .contact__content
        h1.contact__title Contact me
        form.contact__form(action='#', method='POST')
            .contact__info
                .contact__form--item
                    label(class='contact__text' for='name') Enter your name
                    .contact__form--icon
                        img.contact__icon.contact__icon--avatar(role="img" src='/src/images/icons/avatar.svg')
                        input#name.contact__control(class="contact__descript"  type='text', placeholder='Dmitry Otman' name='name')
                .contact__form--item
                    label(class='contact__text' for='email') Enter your email
                    .contact__form--icon
                        img.contact__icon.contact__icon--envelope(role="img" src='/src/images/icons/envelope.svg')
                        input#email.contact__control(class="contact__descript"  type='email', placeholder='dmitriy.otman@ibm.com' name='email')
            .contact__form--item
                label(class='contact__text' for='message') Enter your message
                .contact__form--icon
                    img.contact__icon.contact__icon--message(role="img" src='/src/images/icons/message.svg')
                    textarea#message.contact__control(class="contact__descript" name="message", placeholder="Your help in site creation is required. Interested in the timing and price issue", cols="40", rows="2")
            input.contact__form--submit(type='submit', value='Submit')
