- var navList = [{title: "Home", link: "#"}, {title: "About Me", link: "#"}, {title: "Skills", link: "#"}, {title: "Projects", link: "#"}, {title: "Reviews", link: "#"}, {title: "Contacts", link: "#"}]
nav.nav-menu
    ul.nav-menu__list
        each item in navList
            li.nav-menu__item
                a.nav-menu__link(href=item.link)= item.title