- var navList = [{title: "Home", link: "#"}, {title: "About Me", link: "#"}, {title: "Skills", link: "#"}, {title: "Projects", link: "#"}, {title: "Reviews", link: "#"}, {title: "Contacts", link: "#"}]
nav.nav-mobile
    button.button.nav-mobile__close-btn(aria-label="Close menu")
    ul.nav-mobile__list
      each item in navList
        li.nav-mobile__item
            a.nav-mobile__link(href=item.link)= item.title