.parallax-budda__container
    img.parallax-budda__layer.parallax-budda__layer--cloud1(src="/src/images/content/buddha_cloud_one.png" role="presentation")
    img.parallax-budda__layer.parallax-budda__layer--cloud2(src="/src/images/content/buddha_cloud_two.png" role="presentation")
    img.parallax-budda__layer.parallax-budda__layer--cloud3(src="/src/images/content/buddha_cloud_tree.png" role="presentation")
    img.parallax-budda__layer.parallax-budda__layer--buddha(src="/src/images/content/buddha.png" role="presentation")
    img.parallax-budda__layer.parallax-budda__layer--mountains(src="/src/images/content/buddha_mountains.png" role="presentation")
    img.parallax-budda__layer.parallax-budda__layer--sky(src="/src/images/content/buddha_backgrounds_sky.png" role="presentation")