.parallax-container
    img.parallax__layer.parallax__layer--clouds(src="/src/images/content/sky.png" role="presentation")
    img.parallax__layer.parallax__layer--mountains(src="/src/images/content/mountain.png" role="presentation")
    img.parallax__layer.parallax__layer--balloon(src="/src/images/content/baloon.png" role="presentation")
    img.parallax__layer.parallax__layer--overcast(src="/src/images/content/cloud.png" role="presentation")
    img.parallax__layer.parallax__layer--stones(src="/src/images/content/man.png" role="presentation")
    img.parallax__layer.parallax__layer--slope(src="/src/images/content/mountain1.png" role="presentation")
    img.parallax__layer.parallax__layer--snow(src="/src/images/content/white.png" role="presentation")