.parallax-budda
    //img.parallax-budda__layer(src=require('/src/images/content/budda_parallax.jpg') role="presentation")
    img.parallax-budda__layer(src='/src/images/content/budda_parallax.jpg' role="presentation")