.promo-block
    .promo-block__content
        p.promo__text Personal website of developer
        h1.promo__title Maria Pavlenko
        .promo__scroll
            p.promo__scroll-text Scroll
            a.promo__scroll-button
                img.promo__scroll-icon(role="img" src="/src/images/icons/scroll.svg")