.reviews
    .reviews__content
        h1.reviews__title People talking about me
        .reviews__arrows
            button.reviews__button
                +icon('arrow', 'reviews__arrow reviews__arrow--right')
            button.reviews__button
                +icon('arrow', 'reviews__arrow reviews__arrow--left')
        .reviews__block
            p.reviews__text This girl learning web development! 4 months only the most difficult trials and sleepless nights!
            .reviews__author
                img.reviews__author--avatar(role="img" src="/src/images/content/avatar1.png")
                .reviews__author-item
                    p.reviews__author--name Dmitry Kovalchuk
                    p.reviews__author--position Loftschool founder