.reviews
    .reviews__content
        .reviews__header
            h1.reviews__title People talking about me
            .reviews__arrows
                button.reviews__button.reviews__button--left
                    +icon('arrow', 'reviews__arrow reviews__arrow--left')
                button.reviews__button.reviews__button--right
                    +icon('arrow', 'reviews__arrow reviews__arrow--right')
        .reviews__blocks
            .reviews__blocks--item
                p.reviews__text Mary has been an invaluable member team and I've had the pleasure of working closely with her over the last 6 months. She  played a pivotal role in ensuring we achieved our intended objectives. It's always challenging working across three different projects but Mary project managed this seamlessly, kept us on point on different areas and provided incisive inputs that helped shape a comprehensive approach.
                .reviews__author
                    img.reviews__author--avatar(role="img" src="/src/images/content/avat1.png")
                    .reviews__author-item
                        p.reviews__author--name Marina Kovalchuk
                        p.reviews__author--position Developer at Yandex
            .reviews__blocks--item
                p.reviews__text I had the pleasure of working with Mary for around one year. Mary was thoughtful, collaborative, and diligent.colleague and business partner. She demonstrated an ability to balance multiple projects while driving strong operational cadence and business rigor.
                .reviews__author
                    img.reviews__author--avatar(role="img" src="/src/images/content/avat2.png")
                    .reviews__author-item
                        p.reviews__author--name Oleg Stupak
                        p.reviews__author--position Project manager
            .reviews__blocks--item
                p.reviews__text Mary is a success-oriented and resourceful developer, she knows the channel and how to advise and motivate partners. Her ability to gather and analyse data helps her to create efficient certification and incentive programmes that drives the business. She is able to set right goals and targets based on her channel knowledge and understanding. Mary is a patient and wise developer who is always ready to listen and help. I learnt a lot about partners and the market under her guidance.
                .reviews__author
                    img.reviews__author--avatar(role="img" src="/src/images/content/avat3.png")
                    .reviews__author-item
                        p.reviews__author--name Ella Mirtcha
                        p.reviews__author--position Marketer manager
            .reviews__blocks--item
                p.reviews__text I have had the pleasure to work alongside Mary over the past 2 years. Mary is focused and passionate in her work; her deep care and understanding of the European market is evident by the positive feedback provided by our field and partner communities. In a demanding and pivotal role, Mary can always be counted on to drive impactful business results.
                .reviews__author
                    img.reviews__author--avatar(role="img" src="/src/images/content/avat4.png")
                    .reviews__author-item
                        p.reviews__author--name Slava Golubev
                        p.reviews__author--position Strategy Consultant
            .reviews__blocks--item
                p.reviews__text Mary is a strong leader and strategic thinker. She has the ability to think at a strategic level, understand how strategies and plans will impact the daily responsibilities of her partners, and bring solutions to the table to help them work through challenges. I highly recommend Mary as a strong contributor to any team.
                .reviews__author
                    img.reviews__author--avatar(role="img" src="/src/images/content/avat5.png")
                    .reviews__author-item
                        p.reviews__author--name Eva Vitskaya
                        p.reviews__author--position UX designer
            .reviews__blocks--item
                p.reviews__text Mary is a very effective and self-driven developer. She has a good level of creativity and deep analytical capabilities, which makes her really versatile and precious team member. She is friendly and warm, inspiring others to make things happen.
                .reviews__author
                    img.reviews__author--avatar(role="img" src="/src/images/content/avat6.png")
                    .reviews__author-item
                        p.reviews__author--name Igor Borunov
                        p.reviews__author--position Loftschool founder
            .reviews__blocks--item
                p.reviews__text I had the pleasure of working with Maria for a year. She is an adaptable and persistent business partner, and is exceptionally results-oriented. She could always be counted on to take ownership and drive action.
                .reviews__author
                    img.reviews__author--avatar(role="img" src="/src/images/content/avat7.png")
                    .reviews__author-item
                        p.reviews__author--name Nikolay Pavlov
                        p.reviews__author--position Loftschool founder