.reviews-container
    .reviews__content
        h1.reviews__title what there are say about my work
        .reviews__arrows
            .reviews__arrows--right
            .reviews__arrows--left
        .reviews__block
            p.reviews__textThis This girl learning web development! 4 months only the most difficult trials and sleepless nights!
            .reviews__author
                img.reviews__author--avatar(role="img" src="/src/images/content/avatar1.png")
                h3.reviews__author--name Dmitry Kovalchuk
                p.reviews__author--position Loftschool founder