.skills
    .skills__content
        h1.skills__title My skills and experience
        p.skills__text I made this site as part of web development training. I will refresh my content in it a little later. In the meantime, see how everything is cool and beautiful!
        .skills__frontend
            h2.skills__frontend-title Front-end
            .skills__circles
                .skills__circles--html
                    svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front(r='45' cx='50%' cy='50%')
                    p.skills__text HTML5
                .skills__circles--css
                    svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front(r='45' cx='50%' cy='50%')
                    p.skills__text CSS3
                .skills__circles--js
                    svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front(r='45' cx='50%' cy='50%')
                    p.skills__text Javascript
                .skills__circles--jquery
                    svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front(r='45' cx='50%' cy='50%')
                    p.skills__text Jquery & Vue.js
        .skills__workflow
            h2.skills__workflow-title Workflow
            .skills__circles
                .skills__circles--git
                    svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front(r='45' cx='50%' cy='50%')
                    p.skills__text GIT
                .skills__circles--gulp
                    svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front(r='45' cx='50%' cy='50%')
                    p.skills__text Gulp
                .skills__circles--terminal
                    svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front(r='45' cx='50%' cy='50%')
                    p.skills__text Terminal
                .skills__circles--webpack
                    svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front(r='45' cx='50%' cy='50%')
                    p.skills__text Webpack
        img.skills__backpack(role="img" src="/src/images/content/backpack.png")