.skills
    .skills__content
        h1.skills__title My skills and experience
        p.skills__text I made this site as part of web development training. I will refresh my content in it a little later. In the meantime, see how everything is cool and beautiful!
        .skills__frontend
            h2.skills__frontend-title Front-end
            .skills__circles
                .skills__circles--item.skills__circles--html
                    svg.circles-svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front-html(r='45' cx='50%' cy='50%')
                    p.skills__circles--text HTML5
                .skills__circles--item.skills__circles--css
                    svg.circles-svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front-css(r='45' cx='50%' cy='50%')
                    p.skills__circles--text CSS3
                .skills__circles--item.skills__circles--js
                    svg.circles-svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front-js(r='45' cx='50%' cy='50%')
                    p.skills__circles--text Javascript
                .skills__circles--item.skills__circles--jquery
                    svg.circles-svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front-jquery(r='45' cx='50%' cy='50%')
                    p.skills__circles--text Jquery & Vue.js
        .skills__workflow
            h2.skills__workflow-title Workflow
            .skills__circles
                .skills__circles--git
                    svg.circles-svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front-git(r='45' cx='50%' cy='50%')
                    p.skills__circles--text GIT
                .skills__circles--gulp
                    svg.circles-svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front-gulp(r='45' cx='50%' cy='50%')
                    p.skills__circles--text Gulp
                .skills__circles--terminal
                    svg.circles-svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front-terminal(r='45' cx='50%' cy='50%')
                    p.skills__circles--text Terminal
                .skills__circles--webpack
                    svg.circles-svg(viewBox='0 0 120 120' width='120' height='120')
                        circle.back(r='45' cx='50%' cy='50%')
                        circle.front-webpack(r='45' cx='50%' cy='50%')
                    p.skills__circles--text Webpack
        img.skills__backpack(role="img" src="/src/images/content/backpack.png")