mixin socials(mod)
    div(class='socials socials--' + mod)
        a(class='socials__item socials__item--' + mod href='https://www.instagram.com/m.pmq/' target='_blank')
            +icon('instagram', 'socials__icon socials__icon--instagram')
        a(class='socials__item socials__item--' + mod href='https://www.facebook.com/pavlenko.mary' target='_blank')
            +icon('vkontakte', 'socials__icon socials__icon--vkontakte')
        a(class='socials__item socials__item--' + mod href='https://github.com/marypavlenko' target='_blank')
            +icon('github', 'socials__icon socials__icon--github')