//.socials
//    +icon(instagram, socials__item socials__item--instagram)
//        svg(class="socials__item socials__item--instagram" preserveAspectRatio="none")
//            use(xlink:href=require(`./images/icons/instagram.svg`))
//    +icon(vkontakte, socials__item socials__item--vkontakte)
//        svg(class="socials__item socials__item--vkontakte" preserveAspectRatio="none")
//            use(xlink:href=require(`./images/icons/vkontakte.svg`))
//    +icon(github, socials__item socials__item--github)
//        svg(class="socials__item socials__item--github" preserveAspectRatio="none")
//            use(xlink:href=require(`./images/icons/github.svg`))