mixin socials(mod)
    div(class='socials socials--' + mod)
        a(class='socials__link socials__link--' + mod href='https://www.instagram.com/m.pmq/' target='_blank')
            +icon('instagram', 'socials__item socials__item--instagram')
        a(class='socials__link socials__link--' + mod href='https://www.facebook.com/pavlenko.mary' target='_blank')
            +icon('vkontakte', 'socials__item socials__item--vkontakte')
        a(class='socials__link socials__link--' + mod href='https://github.com/marypavlenko' target='_blank')
            +icon('github', 'socials__item socials__item--github')