.socials
        a.socials__link(href='https://www.instagram.com/m.pmq/' target='_blank')
            +icon('instagram', 'socials__item socials__item--instagram')
                svg(preserveAspectRatio="none")
                    use(xlink:href=require(`./images/icons/instagram.svg`))
        a.socials__link(href='https://www.facebook.com/pavlenko.mary' target='_blank')
            +icon('vkontakte', 'socials__item socials__item--vkontakte')
                svg(preserveAspectRatio="none")
                    use(xlink:href=require(`./images/icons/vkontakte.svg`))
        a.socials__link(href='https://github.com/marypavlenko' target='_blank')
            +icon('github', 'socials__item socials__item--github')
                svg(preserveAspectRatio="none")
                    use(xlink:href=require(`./images/icons/github.svg`))