.works
    h2.works__title My works
    .works__content.js-slider
        .works__content-slider
            .work__slide-numb
                .works__content-img
                    img.works__picture.js-main-slide(src="" role="presentation")
                ul.works__slider
                    li.works__item
                        img.works__item--picture(src="/src/images/content/works/burger.jpg" role="presentation")
                    li.works__item
                        img.works__item--picture(src="/src/images/content/works/ux_profile_page.jpg" role="presentation")
                    li.works__item
                        img.works__item--picture(src="/src/images/content/works/ux_research_pages.jpg" role="presentation")
            .works__arrows-block
                button.works__arrows-item.js-scroll-up
                    +icon('arrow', 'works__arrow works__arrows-item--top')
                button.works__arrows-item.js-scroll-down
                    +icon('arrow', 'works__arrow works__arrows-item--down')
        .works__numbers
            .works__numbers--item 2
        .works__content-tech
            .works__technology.js-slide-tags
            .works__school
                h2.works__school--title.js-slide-title
                p.works__school--text.js-slide-description
                a.works__school--link.js-slide-link
                    +icon('link', 'works__school--icon')
                    p.works__school--preview View site