.works-container
    .works__content
        h1.works__title My works
        .works__slider
            .works__arrows
                .works__arrows--top
                .works__arrows--down
            img.works__picture(src="/src/images/content/1.jpg" role="presentation")
            img.works__picture(src="/src/images/content/2.jpg" role="presentation")
            img.works__picture(src="/src/images/content/3.jpg" role="presentation")
            img.works__picture(src="/src/images/content/4.jpg" role="presentation")
            img.works__picture(src="/src/images/content/5.jpg" role="presentation")
        .works__technology
            .works__technology--item
                p.works__technology-text HTML
            .works__technology--item
                p.works__technology-text CSS
            .works__technology--item
                p.works__technology-text Javascript
        .works__school
            h1.works__title School website
            p.works__text This girl learning web development! 4 months only the most difficult trials and sleepless nights!
            a.works__school-link
                img.works__school-link--icon(role="img" src="/src/images/icons/link.svg")
                p.works__school-link--text View site