.works
    h2.works__title My works
    .works__content.js-slider
        .works__slider
            .work__slides
                .works__img
                    img.works__picture.js-main-slide(src="" role="presentation")
                ul.works__items
                    li.works__item.js-small-slide
                        +image('ux_research_pages.jpg', 'works__item--picture')
                    li.works__item.js-small-slide
                        +image('ux_profile_page.jpg', 'works__item--picture')
                    li.works__item.js-small-slide.works__item--active
                        +image('burger.jpg', 'works__item--picture')
            .works__arrows
                button.works__arrows-item.js-scroll-up
                    +icon('arrow', 'works__arrow works__arrows-item--top')
                button.works__arrows-item.js-scroll-down
                    +icon('arrow', 'works__arrow works__arrows-item--down')
        .works__numbers.js-number
        .works__tech
            .works__tags.js-slide-tags
            .works__project
                h2.works__project--title.js-slide-title
                p.works__project--text.js-slide-description
                a.works__project--link.js-slide-link
                    +icon('link', 'works__project--icon')
                    p.works__project--preview View site